<%=form_tag('/upload-xml', method: 'post', multipart: true, class: 'uploader', id: 'file-upload-form') do %>
  <input id="file-upload" type="file" name="fileUpload" />
  <div id='upload-zone'>
    <label for="file-upload" id="file-drag">
        <div class="dropzone-msg">
          <div class='cloud-icon-wrapper'><%= image_tag 'cloud-icon.svg', class: 'cloud-icon' %></div>
          <p class='dropzone-msg'>Dovucite datoteku ili <span>Odaberite</span></p>
        </div>
    </label>
  </div>
    <div class='submit-btn'>
      <%= submit_tag 'Obradi datoteke', id:'submit-button', class: 'disabled-btn', disabled: true %>
    </div>
<% end %>
<div id='file-list-display'>
  <div class='slots-row'>
    <div class='file-slot first'>
      <span class='add-icon-span'><%= image_tag 'add-new-icon.svg' %></span>
      <%= image_tag 'empty-slot.svg', class: 'empty-slot-img' %>
    </div>
    <div class='file-slot'>
      <span class='remove-icon-span'><%= image_tag 'remove-file-icon.svg' %></span>
      <%= image_tag 'full-slot.svg', class: 'empty-slot-img' %>
    </div>
    <div class='file-slot'>
      <span class='remove-icon-span'><%= image_tag 'remove-file-icon.svg' %></span>
      <%= image_tag 'success-file.svg', class: 'empty-slot-img' %>
    </div>
    <div class='file-slot'>
      <span class='replace-icon-span'><%= image_tag 'replace-icon.svg' %></span>
      <span class='remove-icon-span'><%= image_tag 'remove-file-icon.svg' %></span>
      <%= image_tag 'error-file.svg', class: 'empty-slot-img' %>
    </div>
  </div>
</div>